a {
    color: #00b3ff;
}

.carousel-item .custom-carousel-content {
    width: 50%;
    transform: translate(0%, -10%);
}
.custom-carousel-content {
    text-align: start;
}
.custom-carousel-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.custom-carousel-content h1 span {
    color: #fbff00;
}
.custom-carousel-content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}
.custom-carousel-content .btn-slider {
    border: 1px solid #fff;
    border-radius: 0px;
    padding: 8px 26px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* Navbar Start */
.main-navbar {
    border-bottom: 2px solid #f9f9f9;
}
.main-navbar .top-navbar {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.main-navbar .top-navbar .brand-name {
    color: #fff;
}
.main-navbar .top-navbar .nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar i {
    font-size: 22px;
}
.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #575757;
    font-size: 14px;
}
.main-navbar .navbar {
    padding: 0px;
    background-color: white;
}
.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .container-fluid {
    }
    .main-navbar .top-navbar .nav-link {
        display: none;
        //font-size: 12px;
        //padding: 8px 10px;
    }
}
/* Navbar End */

/* Category Start */
.category-card {
    border: 1px solid #ddd;
    margin-bottom: 24px;
    background-color: #fff;
}
.category-card a {
    text-decoration: none;
}
.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
}
.category-card .category-card-body {
    padding: 10px 16px;
}
.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}
/* Category End */

/* Product Card */
.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a {
    text-decoration: none;
}
.product-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
    border-radius: 25px;
}
.product-card .product-card-img {
    max-height: 260px;
    overflow: hidden;
}
.product-card .product-card-img img {
    width: 100%;
}
.product-card .product-card-body {
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}
/* Product Card End */

/* Product View */
.product-view .product-name {
    font-size: 24px;
    color: #00b3ff;
}
.product-view .product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    float: right;
}
.product-view .product-path {
    font-size: 13px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 16px;
}
.product-view .selling-price {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 25px;
}
.product-view .btn1:hover {
    background-color: #ff0076;
    color: #fff;
}
.product-view .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
.colorSelectionLabel {
    padding: 15px;
    border-radius: 25px;
}
/* Product View */

.underline {
    height: 4px;
    width: 100px;
    margin: 10px 0px;
}

/* Cart or Wishlist */
.shopping-cart .cart-header {
    padding: 10px;
}
.shopping-cart .cart-header h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a {
    text-decoration: none;
}
.shopping-cart .cart-item {
    background-color: #fff;
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .btn1:hover {
    background-color: #ff0076;
    color: #fff;
}
.shopping-cart .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}
/* Cart or Wishlist */

/* Checkout View */

.checkout .form-control {
    border-radius: 0px !important;
}
.checkout .form-control:focus {
    border: 1px solid lightgray !important;
    box-shadow: none !important;
}
.checkout .nav-link {
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 8px;
    color: black;
}
.checkout .tab-content {
    padding-right: 10px;
}

/* End Checkout View */

/* Footer View */

.footer-area {
    padding: 40px 0px;
    background-color: #f9f9f9;
    color: #575757;
}
.footer-area a {
    color: #575757;
    text-decoration: none;
    font-size: 12px;
}
.footer-area p {
    font-size: 12px;
}
.footer-area .footer-heading {
    font-size: 12px;
    font-weight: bold;
}
.footer-area .footer-underline {
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area {
    padding: 14px 0px;
    background-color: #f9f9f9;
}
.copyright-area p {
    margin-bottom: 0px;
    color: #575757;
    font-size: 12px;
}
.copyright-area .social-media {
    text-align: end;
}
.copyright-area .social-media a {
    margin: 0px 10px;
    color: #575757;
    width: 20px;
}

/* End Footer View */

/* Leyton Custom */

/* Admin Custom */

.sidebar .nav-item {
    border: none !important;
}

.main-panel {
    overflow: auto;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* End Admin View */

/* Site Custom */

.search-button {
    border: 1px solid #cdd4d9;
    border-left: none;
}

.alertify-notifier .ajs-message {
    border-radius: 5px !important;
    border: none !important;
    backdrop-filter: blur(20px) !important;
    box-shadow: 0px 0px 20px 0px lightgrey !important;
    text-shadow: none !important;
}

.exzoom .exzoom_img_box {
    background: transparent !important;
}

.exzoom .exzoom_img_ul_outer {
    border: none !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner span.current {
    border: none !important;
}

.exzoom .exzoom_btn a {
    border: none !important;
    background: transparent !important;
}

.notif-count-flex {
    display: flex;
}

.notification-count {
    background: #ff0076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
    width: 16px;
    height: 16px;
}

.btn {
    border-radius: 25px;
}

.btn-primary {
    background-color: #00b3ff;
    border: 1px solid #00b3ff;
}

.text-primary {
    color: #00b3ff !important;
}

/* End Admin View */
