@font-face {
    font-family: "Racing Sans";
    src: url("/admin/fonts/Racing_Sans_One/RacingSansOne-Regular.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Phosphate";
    src: url("/admin/fonts/Phosphate/PhosphateSolid.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

.loading-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    overflow: hidden;
}

.hide-loading-overlay {
    display: none !important;
}

.welcome-message {
    color: black;
    font-weight: lighter;
    margin: 0;
    font-size: 1.5rem;
}

.fb-btn {
    background: #0177ed;
    color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
}

.fb-btn:hover {
    color: white;
}

.google-btn {
    background: #ea4335;
    color: white;
    display: flex;
    border: none;
    align-items: center;
    justify-content: space-between;
}
.google-btn:hover {
    color: white;
}

.empty-fav-icon {
    font-size: 7rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-image: radial-gradient(
            circle farthest-corner at 35% 90%,
            #82e1ff,
            #0000 50%
        ),
        radial-gradient(circle farthest-corner at 0 140%, #ff90fe, #0000 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #ffadeb, #0000 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #fcd4d4, #0000 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #ffd6b7, #0000 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #ffffa9, #0000 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #ffffa9, #0000),
        linear-gradient(
            #ffd6b7,
            #fcd4d4 30%,
            #ffadeb 50%,
            #ff90fe 70%,
            #82e1ff 100%
        );
}

.caro-hero {
    height: 65vh;
    width: 100vw;
    object-fit: cover;
}

.loading-gif {
}

.share-home {
    font-size: 2rem;
    margin-left: 15px;
}

.jiant {
    font-family: "Phosphate";
}

.racing-green {
    font-family: "Racing Sans";
}

.color-green {
    color: #004225;
}

.first-word-uppercase::first-letter {
    font-size: 1.3rem;
    color: #004225;
    font-weight: bold;
}

a {
    color: black;
}
a:hover {
    color: #00b3ff;
}
.blue-link {
    color: #00b3ff;
}

main {
    padding-top: 10vh;
}

#app {
    overflow-x: hidden;
}

.social-white {
    color: white;
    margin-right: 10px;
    font-size: 1.2rem;
}

/* START BOOTSTRAP BUTTON */

.share-home:hover {
    transform: scale(1.1);
}

.btn:hover {
    transform: scale(1.1);
}

/* END BOOTSTRAP BUTTON COLOUR */

.card {
    border: none;
}

.carousel-item .custom-carousel-content {
    width: 100%;
    transform: translate(0%, -70%);
}
.custom-carousel-content {
    text-align: start;
}
.custom-carousel-content h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px black;
}
.custom-carousel-content h3 {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
}
.custom-carousel-content h1 span {
    color: #fbff00;
}
.custom-carousel-content p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 0 0 10px black;
}
.custom-carousel-content .btn-slider {
    border: none;
    box-shadow: 0px 0px 10px 0px black;
    background-image: linear-gradient(45deg, #ff0000, #fff200);
    border-radius: 25px;
    padding: 8px 26px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.carousel-control-next-icon {
    filter: drop-shadow(2px 4px 6px black);
    -webkit-filter: drop-shadow(2px 4px 6px black);
}
.carousel-control-prev-icon {
    filter: drop-shadow(2px 4px 6px black);
    -webkit-filter: drop-shadow(2px 4px 6px black);
}

/* Navbar Start */
.main-navbar {
    overflow-y: hidden;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 1023;
}
.main-navbar .top-navbar {
    padding-top: 5px;
    background-color: white;
    color: black;
    height: 100%;
}
.main-navbar .top-navbar .brand-name {
    color: #fff;
}
.main-navbar .top-navbar .nav-link {
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.main-navbar .top-navbar i {
    font-size: 22px;
}
.main-navbar .top-navbar .dropdown-menu {
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i {
    width: 20px;
    text-align: center;
    color: #575757;
    font-size: 14px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

.main-navbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.flexed-nav {
    display: flex;
    align-items: center;
    height: 8vh;
}

.navbar-logo {
    height: 1rem;
    width: auto;
}

.headline-font {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 10px;
}

.under-bar {
    overflow-y: scroll;
    height: 10vh;
    background-color: white !important;
    color: black !important;
}

.main-navbar .navbar {
    padding: 0px;
    background-color: white;
}
.main-navbar .navbar .nav-item .nav-link {
    padding: 8px 20px;
    color: #000;
    font-size: 15px;
}

.share-header {
    color: lightgray;
    margin: 0;
}

.mobile-share-header {
    position: fixed;
    width: 100%;
    background: white;
}

.stop-scroll {
    overflow: hidden;
}

.mobile-share-bar {
    bottom: 0;
    position: fixed;
    background: white;
    width: 100%;
    height: 10vh;
}

#menu-overlay {
    height: 100vh;
    width: 100vw;
    z-index: 1021;
    position: fixed;
    background: black;
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    position: absolute;
    align-items: center;
    text-align: center;
    padding-bottom: 10vh;
    backdrop-filter: brightness(0.6);
    -webkit-backdrop-filter: brightness(0.6);
}

.mobile-overlay {
    z-index: -1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px) saturate(180%) brightness(0.3);
    -webkit-backdrop-filter: blur(20px) saturate(180%) brightness(0.3);
    z-index: 2000;
}

.search-padding {
    padding: 0vw 20vw;
}

.mobile-nav-lower {
    text-align: center;
    color: white;
}

.mob-ov-font {
    color: white !important;
    font-weight: bold;
    font-size: 1.5rem !important;
}

.navbar-toggler {
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.black-bars {
    color: black;
}

.overlay-hide {
    display: none;
}

.link-hover-font {
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0;
}

.subscribe-button {
    background: #1ce8c6;
    border-radius: 25px;
    color: black;
    padding: 10px;
}
.subscribe-button:hover {
    background: #1ce8c6;
    border: inherit;
}

.fav-button {
    background: #ff41b5;
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    border-radius: 25px;
    color: white !important;
    padding: 10px;
}
.fav-button:hover {
    background: #ff41b5;
    border: inherit;
}

.search-btn {
    background: black;
    border-radius: 25px;
    color: white !important;
    padding: 10px;
    border: 1px solid white;
}

/* Navbar End */

/* Category Start */

.category-card {
    border: 1px solid #ddd;
    margin-bottom: 24px;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    aspect-ratio: 1;
}

.categroy-card-overlay {
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.7);
    -webkit-backdrop-filter: brightness(0.7);
}

.cat-overlay-font {
    font-size: 2.5rem;
    font-weight: bold;
}
.cat-page-overlay-font {
    font-size: 1.2rem;
    font-weight: bold;
}
.category-card a {
    text-decoration: none;
}
.category-card .category-card-img {
    max-height: 260px;
    overflow: hidden;
}
.category-card .category-card-body {
    padding: 10px 16px;
}
.category-card .category-card-body h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    text-align: center;
}

/* Category End */

/* Product Card */

.product-name {
    font-weight: bold;
    color: black !important;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 24px;
}
.product-card a {
    text-decoration: none;
}
.product-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
    border-radius: 25px;
}
.product-card .product-card-img {
    max-height: 260px;
    overflow: hidden;
}
.product-card .product-card-img img {
    width: 100%;
}
.product-card .product-card-body {
    padding: 10px 10px;
}
.product-card .product-card-body .product-brand {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .product-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.product-card .product-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-card .product-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-card .product-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}

/* Product Card End */

/* Search Card */

.archive-background {
    background: black;
    color: white;
}

.archive-background .search-card {
    background-color: black;
    color: white;
}

.archive-background a {
    color: white;
}

.search-card {
    display: flex;
    background-color: #fff;
    border: none;
    margin-bottom: 24px;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
}
.search-card a {
    text-decoration: none;
}
.search-card .stock {
    position: absolute;
    color: #fff;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 8px;
    font-size: 12px;
    border-radius: 25px;
}
.search-card .search-card-img {
    width: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}
.search-card .search-card-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.search-card .search-card-body {
    padding: 0px 0px 0px 10px;
    width: 50%;
    height: 190px;
    overflow: scroll;
}
.search-card .search-card-body .search-brand {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
    color: #937979;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search-card .search-card-body .search-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.search-card .search-card-body .selling-price {
    font-size: 22px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.search-card .search-card-body .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.search-card .search-card-body .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 12px;
    margin-top: 10px;
}

/* Search Card End */

/* Product View */

.lower-image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.hero-image-caption {
    width: 100%;
    min-height: 80vh;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1vw;
}

.related-hero-image-caption {
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    flex-direction: column;
    //transition: all 1s ease-in-out;
}

.related-hero-image-caption:hover {
    //background-size: 101%;
}

.hero-category {
    font-size: 1rem;
}

.hero-headline {
    font-size: 3rem;
    font-weight: bold;
}

.hero-summary {
    font-size: 1.3rem;
    font-weight: lighter;
}

.product-card-body {
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.5);
    -webkit-backdrop-filter: brightness(0.5);
}

.image-caption {
    border-bottom: 1px solid lightgray;
    font-size: 12px;
}

.caption-credit {
    display: flex;
    height: 50px;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.article-dated {
    color: gray;
    font-size: 0.7rem;
}

.hero-img-caption {
    color: white;
    margin-bottom: 0px;
    font-size: 0.6rem;
}

.hero-img-credit {
    color: white;
    margin-bottom: 0px;
    margin-left: 3px;
    font-size: 0.6rem;
}

.img-caption {
    color: gray;
    margin-bottom: 0px;
}

.img-credit {
    color: lightgray;
    margin-left: 3px;
    margin-bottom: 0px;
}

.article-paragraph {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.article-sub {
    font-weight: bold;
    font-size: 1.5rem;
}

.article-con {
    font-size: 1rem;
    font-weight: lighter;
}

.product-view .product-name {
    font-size: 3rem;
    font-weight: bold;
}

.product-headline {
    color: gray;
}

.product-view .product-name .label-stock {
    font-size: 13px;
    padding: 4px 13px;
    border-radius: 5px;
    color: #fff;
    float: right;
}
.product-view .product-path {
    font-size: 13px;
    font-weight: 500;
    color: #00b3ff;
    margin-bottom: 16px;
}
.product-view .selling-price {
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-right: 8px;
}
.product-view .original-price {
    font-size: 18px;
    color: #937979;
    font-weight: 400;
    text-decoration: line-through;
}
.product-view .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 25px;
}
.product-view .btn1:hover {
    background-color: #ff0076;
    color: #fff;
}
.product-view .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    margin-top: 10px;
    width: 58px;
    outline: none;
    text-align: center;
}
.colorSelectionLabel {
    padding: 15px;
    border-radius: 25px;
}

/* Product View */

.underline {
    height: 4px;
    width: 100px;
    margin: 10px 0px;
}

/* Cart or Favourites */

.favorite-article-card {
    height: 50vh;
    background-position: center;
    background-size: cover;
}
.f-a-c-overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: brightness(0.8);
    -webkit-backdrop-filter: brightness(0.8);
}
.favorite-name {
    color: white;
    font-weight: bold;
    font-size: 2rem;
}
.favorite-headline {
    color: white;
    font-size: 1rem;
}
.shopping-cart .cart-header {
    padding: 10px;
}
.shopping-cart .cart-header h4 {
    font-size: 18px;
    margin-bottom: 0px;
}
.shopping-cart .cart-item a {
    text-decoration: none;
}
.shopping-cart .cart-item {
    background-color: #fff;
    padding: 10px 10px;
    margin-top: 10px;
}
.shopping-cart .cart-item .product-name {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.shopping-cart .cart-item .price {
    font-size: 16px;
    font-weight: 600;
    padding: 4px 2px;
}
.shopping-cart .btn1 {
    border: 1px solid;
    margin-right: 3px;
    border-radius: 0px;
    font-size: 10px;
}
.shopping-cart .btn1:hover {
    background-color: #ff0076;
    color: #fff;
}
.shopping-cart .input-quantity {
    border: 1px solid #000;
    margin-right: 3px;
    font-size: 12px;
    width: 40%;
    outline: none;
    text-align: center;
}

/* Cart or Wishlist */

/* Checkout View */

.checkout .form-control {
    border-radius: 0px !important;
}
.checkout .form-control:focus {
    border: 1px solid lightgray !important;
    box-shadow: none !important;
}
.checkout .nav-link {
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 8px;
    color: black;
}
.checkout .tab-content {
    padding-right: 10px;
}

/* End Checkout View */

/* Footer View */

.footer-area {
    padding: 40px 0px;
    background-color: black;
    color: white;
}
.footer-area a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
}
.footer-area p {
    font-size: 12px;
}
.footer-area .footer-heading {
    font-size: 12px;
    font-weight: bold;
    margin-top: 2.5rem;
}
.footer-area .footer-underline {
    height: 1px;
    width: 70px;
    background-color: #ddd;
    margin: 10px 0px;
}
.copyright-area {
    padding: 14px 0px;
    background-color: black;
}
.copyright-area p {
    margin-bottom: 0px;
    color: white;
    font-size: 12px;
}
.copyright-area .social-media {
    text-align: end;
}
.copyright-area .social-media a {
    margin: 0px 10px;
    color: white;
    width: 20px;
}

/* End Footer View */

/* Leyton Custom */

.instagram-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-image: radial-gradient(
            circle farthest-corner at 35% 90%,
            #fec564,
            transparent 50%
        ),
        radial-gradient(
            circle farthest-corner at 0 140%,
            #fec564,
            transparent 50%
        ),
        radial-gradient(
            ellipse farthest-corner at 0 -25%,
            #5258cf,
            transparent 50%
        ),
        radial-gradient(
            ellipse farthest-corner at 20% -50%,
            #5258cf,
            transparent 50%
        ),
        radial-gradient(
            ellipse farthest-corner at 100% 0,
            #893dc2,
            transparent 50%
        ),
        radial-gradient(
            ellipse farthest-corner at 60% -20%,
            #893dc2,
            transparent 50%
        ),
        radial-gradient(
            ellipse farthest-corner at 100% 100%,
            #d9317a,
            transparent
        ),
        linear-gradient(
            #6559ca,
            #bc318f 30%,
            #e33f5f 50%,
            #f77638 70%,
            #fec66d 100%
        );
}

.facebook-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-image: linear-gradient(#0177ed, #0177ed);
}

.twitter-icon {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000;
    background-image: linear-gradient(#01a1ee, #01a1ee);
}

/* Admin Custom */

.sidebar .nav-item {
    border: none !important;
}

.main-panel {
    overflow: auto;
    height: 100vh;
}

a {
    text-decoration: none;
}

/* End Admin View */

/* Site Custom */

.search-bar {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search-button {
    border: 1px solid #cdd4d9;
    border-top-right-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    border-left: none;
}
.search-button:hover {
    background: inherit;
    border: inherit;
}

.alertify-notifier .ajs-message {
    border-radius: 5px !important;
    border: none !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    box-shadow: 0px 0px 20px 0px lightgrey !important;
    text-shadow: none !important;
}

.exzoom .exzoom_img_box {
    background: transparent !important;
}

.exzoom .exzoom_img_ul_outer {
    border: none !important;
}

.exzoom .exzoom_nav .exzoom_nav_inner span.current {
    border: none !important;
}

.exzoom .exzoom_btn a {
    border: none !important;
    background: transparent !important;
}

.notif-count-flex {
    display: flex;
}

.notification-count {
    background: #ff0076;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 10px;
    color: #fff;
    width: 16px;
    height: 16px;
}

.btn {
    border-radius: 25px;
}

.btn-primary {
    background-color: #00b3ff;
    border: 1px solid #00b3ff;
}

.text-primary {
    color: #00b3ff !important;
}

/* End Admin View */

/* Start Auth View */

.login-button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* End Auth View */

/* Start Cookie Policy */

#cookies {
    bottom: 0;
    left: 0;
    background-color: #034225;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 999;
    color: #ffffff;
    padding: 5vh;
}

/* End Cookie Policy */

/* Specific Screen Sizes */

@media only screen and (min-width: 600px) {
    .mobile-overlay {
        display: none;
    }
    .mobile-share-bar {
        display: none;
    }

    .log-card-body {
        padding: 0 20vw;
    }

    .filtered-image {
        filter: brightness(0.9);
        -webkit-filter: brightness(0.9);
    }
    .border-right {
        //border-right: 1px solid lightgray;
        border-right: 1px solid transparent;
    }
    .share-image {
        height: 60px;
        max-width: 100px;
        top: 0;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mobile-share-title {
        display: flex;
        align-items: center;
    }
    .cookies {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 600px) {
    .container-fluid {
    }
    .main-navbar .top-navbar .nav-link {
        display: none;
    }
    .top-navbar {
        display: none;
    }
    .share-image {
        height: 60px;
        max-width: 100px;
        top: 0;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .mobile-share-title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .cookies {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

/* End Specific Screen Sizes */

/* PLAYING AROUND ADVERTISING DIV */

/*
.advert-space {
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: nowrap;
}
.article-block-space {
    width: 50%;
    background: white;
}
.ad-block-space {
    width: 50%;
    //background: yellow;
    padding: 10%;
}
.advert {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    margin-bottom: 5vh;
}
*/

/* END ADVERTISING DIV */
